<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To-Do List</title>
  </head>
  <body>
    <%- include('./layout/header') %>
    <main>
        <section>
            <h3>Title: <%=task.title %></h3>
            <p>Description: <%=task.description %></p>
            <p>Contact: <%=task.contact %></p>
            <p>Status: <%=task.status %></p>
            <p>Category: <%=task.category %></p>

            <form action="/deleteTask/<%=task.id%>?_method=delete"  method="POST">
              <button>Delete Task</button>
            </form>

            <button id="updateBtn">Update</button>
            <section id="updateForm">
              <form action="/updateTask/<%=task.id%>?_method=put" method="POST">
                <input type="text" name="title" value="<%=task.title%>">
                <textarea name="description" cols="30" rows="10"><%=task.description %></textarea>
                <input type="text" name="contact" value="<%=task.contact %>">
                <input type="text" name="status" value="<%=task.status %>">
                <input type="text" name="category" value="<%=task.category %>">
                <button type="submit">update Task</button>
              </form>
            </section>


        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>